@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
header, footer {
    position:relative; 
    display:block; 
    width:100%; 
    background-color:cornflowerblue;
}
header { 
    margin-top:3%; 
}

footer {
    height:50px;
}

body > * {
  font-family: 'Oswald', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.logo {
  width: 140px;
  position: relative;
  bottom: 122%;
  z-index: 4; 
}

.form { margin-top:5%; }

.form-group { margin:3% 0; }

/*.formBtn { position:relative; display:block; margin:1% 0; }
    .formBtn input { width:100%; }*/

@media (min-width: 768px){
    .form-horizontal .control-label { text-align:left; }
}